*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}

img {
    width: 100px;
    height: 80px;
    margin: 10px 0;
   

}



#root{
    background-color: rgb(254, 223, 223);
    width: auto;
    height: auto;
    border-radius: 15px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    margin: 25px;
    padding: 10px;
}

input{
    margin: 20px auto;
    padding: 10px;
    width: 300px;
    border: 2px solid black;
    border-radius: 15px;

    display: flex;
}


#root > div {
    width: 150px;
    height: 150px;
    border: 1px solid rgb(94, 91, 91);
    margin: 5px;
    border-radius: 15px;
    position: relative;

    box-shadow: 2px 2px 5px rgb(116, 114, 114);
}

#root > div a{
    
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 115px;
    left: 40px;

    margin: 5px 0;
  
}

.pokemon-name{
    color: rgb(194, 30, 71);
    position: absolute;
    left: 35px;
    margin: 10px 0;

}

.copy-right{
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 25px;
    color: rgb(85, 85, 85);
}